:root{
    --dark-background:#292a2d;
    --dark-background-secondary:#3b3d42;
    --dark-border-color:#4a4b50;
    --dark-color:#a9a9b3;
    --dark-color-secondary:#73747b;
    --light-background:#fff;
    --light-background-secondary:#eaeaea;
    --light-border-color:#dcdcdc;
    --light-color:#222;
    --light-color-secondary:#999;

    --root-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    --root-font-size: 16px;
    --root-line-height: 1.5;



    --phoneWidth:(max-width:684px);
    --tabletWidth:(max-width:900px)
}

* {
    font-family: var(--root-font-family);
}

html {
    font-size: var(--root-font-size);
    line-height: var(--root-line-height);
}

body {
    background-color: var(--dark-background);
    color: var(--dark-color)
}

a {
    color: inherit
}

#sidebar {
    border-right: 1px solid var(--dark-color);
}

.social {
    border-top: 1px solid var(--dark-color);
}